/* parte modal */
.modal_carrinho{
    background-color: rgba(255, 255, 255, 0.219);
    color: #f4f4f4;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_carrinho.open{
    opacity: 1;
    z-index: 999;
}

.modal_carrinho h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background: #6e3b26;
}
