section {
    align-items: center;
    border: 1px solid white;
    background-color: white;
    border-radius: 3%;
    margin: 5%;
    padding: 3.5rem;
    position: relative;
}


.imagem-produto-detalhe {
    width: 40%; 
    max-width: 25rem;
    height: auto;
    border-radius: 10%;
    margin-left: 10%; 
}

.tituloProduto{
    margin-top: 0;
    margin-left: 0;
}
h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 10%;
    font-size: 3rem;
    float:right;
    text-align: center;
    width: 45%; 
    margin-right: 10%;
}


h4 {
    margin-top: 0;
    margin-left: 0;
}
h4 {
    font-size: 2rem;
    float:right;
    font-weight: normal;
    text-align: center;
    width:50%; 
    margin-right: 8%;
    margin-top: -15rem;
    margin-bottom: 1%;
    
    
}

h3 {
    font-size: 2.5rem;
    margin-top: 0;
    text-align: center;
    float:right;
    margin-left:50%;
    text-align: center;
    width: 60%; 
    margin-top: -5rem;
    margin-right: 5%;
    
    
}
