.imagem-produto-carrinho{
    width: 10rem;
    border-radius: 10%;
    margin-right: 3rem;
    margin-left: 1rem;
}

#tituloCarrinho{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 2.3rem;
    font-weight: bolder;
}

#titulos-carrinho{
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: -2.5rem;
    color: gray;
}

#produto-titulo{
    padding-left: 25rem;
    padding-right: 2rem;
}

#produto-preco{
    padding-left: 18rem;
    padding-right: 3rem;
}

#produto-qtd{
    padding-left: 2rem;
    padding-right: 4.5rem;
}

#produto{
    margin-bottom: 3rem;
}

.produtoCarrinho{
    /* text-align: center; */
    display: flex;
    margin-left: 13%;
    margin-right: 13%;
    /* margin-left: 16rem;
    margin-right: 16rem; */
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem 2rem 2rem 2rem;
    align-items: center;
    justify-content: center;
    /* border: 2px #8a523a solid; */
    background-color: rgb(255, 255, 255);
    border-radius: 2.5rem;
}

.produtoCarrinho h2{
    margin-right: 1rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: right;
    text-align: center;
    padding: 0rem 1rem 0rem 2rem;
    width: 40%;
}

.produtoCarrinho p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: right;
}

.produto-preco{
    padding: 2rem;
}

.produto-subtotal{
    padding: 2rem;
}

.qtd-preco{
    padding-left: 5rem;
    padding-right: 5rem;
}

.btnRetirar{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

.imgBtnRetirar{
    width:2rem;
}

.imgBtnRetirar:hover{
    filter: brightness(80%);
}

.imgBtnRetirar:active{
    filter: brightness(100%);
}