

img {
    width: 30%; 
    max-width: 15rem;
    height: auto;
    border-radius: 7%;
    margin: 2%; 
    justify-content: center;
}

.btnRemover{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    border: 0;
    letter-spacing: 0.05em;
    border-radius: 0.8em;
    color: #6e3b26;
    background-color: #ecd7bd;
    text-align: center;
    cursor: pointer;
    font-size: medium;
    width: 13rem;
    height: 2.6rem;
    margin-left: 5%;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

section{
    background-color: #faead7;
    padding: 2%;
}

header{
    color:#6e3b26;;
    text-align: center;
    font-size: 2.5rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p,h2{

padding: 1%;
        font-size: 1rem;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.produtoFavorito{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem 2rem 2rem 2rem;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 2.5rem;
}
